#main-body .main-body-container{
    background: #192d40;
    border: 5px solid #4d5866;
    border-top: 0;
    display: flex;
    margin-bottom: 63px;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 60px;
    height: auto;
}

/* #main-body .word-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#main-body .word-container .word-wrapper {
    height: 38px;
    width: 50%;
    background: #051c2b;
    font-size: 32px;
    border: 2px solid #bdb840;
    font-weight: bold;
    padding: 20px;
}

#main-body .word-container h3.word {
    margin: 0;
    line-height: 1;
    text-align: center;
    color: #FFF;
    text-decoration: underline;
}

#main-body .word-container .word-box {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

#main-body .word-container .word-box input {
    align-self: normal;
    flex: 1;
    padding: 14px;
    color: #192d40;
    font-weight: bold;
}

#main-body .word-container .buttons-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-body .word-container .button-box {
    background: #051c2b;
    border-radius: 5px;
    border: 1px solid #FFF;
    margin: 22px;
} */

#main-body .container-default {
    padding-bottom: 40px;
}

.w100 {
    width: 100%;
}
.hide {
    display: none !important;
    color: red;
}
.show {
    display: block !important;
    color: red;
}
.selected {
   background: #25e2d9 !important;
   color: rgb(93, 27, 27) !important;
}