#score .button {
  border: 1px solid;
}
#score .button-box-container {
  width: 100%;
    margin-top: 30px;
    border-top: 2px solid #bdb840;
  }
  #score .button-box.submit {
    margin-bottom: 30px;
    width: 100%;
  }